Package: com.frezon.frezonmod
Name: Frezon Mod
Version: 1.1
Architecture: iphoneos-arm64
Description: Advanced mod menu for Subway Surfers with unlimited coins feature
Maintainer: Frezon <frezon@example.com>
Author: Frezon
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
Icon: https://i.ibb.co/v43CFpDJ/IMG-6158.jpg
